name: UpdateGHPages

on:
  push:
    branches:
      - dev

jobs:
  build:
    name: Build and deploy GH pages
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          repository: "NaokiHori/NaokiHori"
          ref: dev
      - name: Build Docker image
        run: docker compose build
      - name: Run type-check
        run: |
          docker compose run --rm app npx tsc
      - name: Check code format
        run: |
          docker compose run --rm app npx prettier . --check
      - name: Run linter
        run: |
          docker compose run --rm app npx eslint .
      - name: Build
        run: |
          docker compose run --rm app npx vite build --base=/NaokiHori/
      - name: Setup GitHub Pages
        uses: actions/configure-pages@main
      - name: Upload HTML
        uses: actions/upload-pages-artifact@main
        with:
          path: dist
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
